<html>
<head>
 <title>{ $title }</title>
</head>
<body>

<p>
 <a href="{ join ('/', $url); }">Home</a> |
 <a href="{ join ('/', $url, $keyword); }">{ ucfirst($keyword); }</a>
</p>
  <p><a href="{ $url }?logout">Logout</a></p>

{
    if ($message) {
	$OUT .= "<p><font color='red'>$message</font></p>";
    }
}

<form action="{ join ('/', $url, $keyword, $action); }" method="Post">
 <input type='hidden' name='session' value='{ $session }' />
 <input type='hidden' name='cmd' value='do action' />

 <h1>{ $keyword } | { $action }:</h1>
 <table border='0' width="100%">
{
    foreach my $opt (@meta) {
	$OUT .= "<tr><th>".$opt->name."</th><td>";
	if (not $opt->widget or $opt->widget eq 'text') {
	    $OUT .= "<input type='text' name='".$opt->name."'";
	    $OUT .= " DISABLED" if $opt->readonly;
	    $OUT .= '>';
	} elsif ($opt->widget eq 'checkbox') {
	    $OUT .= "<input type='checkbox' name='".$opt->name."' value='1' />";
	}
	$OUT .= '</td><td>'.$opt->description.'</td>';
	$OUT .= "</tr>\n";
    }
}
 <tr>
  <td><input type='submit' name='submit' value='{ ucfirst($action); }' /></td>
  <td></td><td></td>
 </tr>
 </table>
</form>

{
    use VUser::ResultSet;
    if (@rs) {
	foreach $rs (@rs) {
	    $OUT .= "<table class='results' border='1'>";
	    $OUT .= "<tr>";
	    foreach my $meta ($rs->get_metadata) {
		$OUT .= "<th>";
		$OUT .= $meta->description.'<br />('.$meta->name.')';
		$OUT .= "</th>";
	    }
	    foreach my $row ($rs->results) {
		$OUT .= '<tr>';
		foreach my $value (@$row) {
		    $OUT .= "<td>$value</td>";
		}
		$OUT .= '</tr>';
	    }
	    $OUT .= "</tr>";
	    $OUT .= "</table>"
	}
    } else { $OUT .= ''; }
}

</body>
</html>
